/* for desktop */
@media screen and (min-width: 768px) {
    #mobile-header{
        display: none !important;
    }
}

/* for mobile */
@media screen and (max-width: 768px) {
    #desktop-header{
        display: none !important;
    }

    #mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 50px;
    }

    #mobile-header h2{
        color: #DEE5D3;
        font-size: 36px;
        font-weight: 900;
        /* font-size: 28.9px; */
        font-family: Futura PT Cond;
        /* font-weight: 700; */
        line-height: 20.239px;
        letter-spacing: -1.156px;
    }
    #mobile-header:not(h2){
        cursor: pointer;
    }
}