* {
  /* font-family: Poppins; */
}

a {
  font-weight: 500;
  color: #fff;
  text-decoration: inherit;
}
a:hover {
  color: #e93c24;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}
.content2 {
  max-height: 70px;
  overflow: hidden;
  transition: all 0.3s;
}

.content2.show {
  height: auto;
  max-height: 999px;
  transition: all 0.3s;
}
.content.show {
  height: auto;
  max-height: 999px;
  transition: all 0.3s;
}

.dash {
  background-color: #e93c24;
  height: 5px;
  width: 30px;
  border-radius: 12px;
  margin-top: 3px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e93c24;
}
button:focus,
button:focus-visible {
  outline: 4px auto #e93c24;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #fff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
